body {
    position: absolute;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: 100%;
    width: 100%;
    background-color: #e0e0d1;
}


.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: #111;
	color: #818181;
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	opacity: 0;
	animation-name: fadein;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 


.sidenav img {
	border: solid;
	border-color: #296781;
	height: auto;
	width: 175px;
	border-width: 5px;
	margin-top: 15px;
	margin-bottom: 60px;
}
.sidenav div {
	height: 50px;
	width: 80%;
	display: table;
	margin: auto;
}

.sidenav div:hover {
  color: #f1f1f1;
  background-color: #2b2222;
  cursor: pointer;
}

.element {
	display: table-cell;
	vertical-align: middle;
}

.elementselected {
	display: table-cell;
	vertical-align: middle;
	background-color: #296781;
	padding: 0;
	margin: 0;
	color: #f1f1f1;
}

.aboutpage {
	text-align: center;
	animation-name: fadein;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.aboutpage img {
	position: absolute;
	left: 450px;
	width: auto;
	height: 300px;
	border-color: black;
	border-width: thin;
	top: 50px;
	margin: 0;	
}

.abouttext {
	position: absolute;
	margin-top: 400px;
	left: 450px;
	width: 65%;

}

.abouttext h2{
	text-align: left;
	margin-left: 3%;
	font-size:50px;
}

.abouttext p {
	text-align: left;
	font-size: 30px;
}


.frontpage {
	position: absolute;
	background-color: #e0e0d1;
	color: rgb(85, 85, 85);
	text-align: center;
	height: 100%;
	width: 100%;
	animation-name: fadein;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.frontelements {
	position: relative;
	top: 32%;
}

.fadeoutfp {
	position: relative;
	top: 32%;
	animation-name: fadeout;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

.fadeoutfp .title,.subtitle {
	padding-bottom: 0px;
	margin-bottom: 10px;
	padding-top: 0px;
	margin-top: 0px;
}

.frontelements .title,.subtitle {
	padding-bottom: 0px;
	margin-bottom: 10px;
	padding-top: 0px;
	margin-top: 0px;
}

.title {
	font-size:55px;
}

.subtitle {
	font-size:25px;
	margin-bottom: 40px;
}

.options span {
	position: relative;
	font-size: 30px; 
	padding: 20px 12.5px 20px 12.5px;
	color: #818181;
	display: inline-block;
	width: 100px;
}

.options span:hover {
  color: #f1f1f1;
  cursor: pointer;
}


.skillspage {
	position: absolute;
	width: 60%;
	left: 450px;
	top: 100px;
	font-size: 20px;
	animation-name: fadein;
	animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.skillspage h2{
	text-align: left;
	margin-left: 3%;
	font-size: 50px;
}

.skillspage h3{
	font-size :30px;
	margin-left: 3%;
	margin-top: 7%;
}

.skillsbox {
	display: flex;
	flex-direction: row;
}

.tools {
	width: 25%;
}

.leftskills {
	position: relative;
	width: 50%;
	height: 100%;

}

.rightskills {
	position: relative;
	width: 50%;
	height: 100%;
}

.skillshow {
	height: 20px;
	width: 90%;
	border: solid;
	background-color: #808080;
	margin-bottom: 5%;
}

#js {
	width: 70%;
	background-color: black;
	height: 100%;
}

#react{
	width: 70%;
	background-color: black;
	height: 100%;
}

#html{
	width: 70%;
	background-color: black;
	height: 100%;
}

#css{
	width: 60%;
	background-color: black;
	height: 100%;
}

.skillsbox
 li {
 	margin-bottom: 5%;
 }


.cvpage {
	position: absolute;
	left: 450px;
	top: 100px;
	width: 60%;
	animation-name: fadein;
	animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.cvbox {
	display: flex;
	flex-direction: row;
}

#education {
	margin-bottom: 7%;
}

.cvpage h3 {
	position: relative;
	font-size: 40px;
	left: 3%;
}

.companyname {
	font-weight: bold;
	font-size: 25px;
}

.location {
	font-size: 25px;
}

.lefteducation {
	width:20%;
}

.righteducation {
	width: 70%;
}

.profexperience {
	position: relative;
	margin-bottom: 3%;
}

#spanish {
	width: 100%;
	background-color: black;
	height: 100%;
}

#english {
	width: 85%;
	background-color: black;
	height: 100%;
}

#french {
	width: 40%;
	background-color: black;
	height: 100%;
}

#portuguese {
	width: 40%;
	background-color: black;
	height: 100%;
}

.projectspage {
	position: absolute;
	left: 450px;
	top: 100px;
	width: 60%;
	animation-name:	fadein;
	animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.projectsbox {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	height: 400px;
	width: 100%;
}

.projectelement {
	margin:auto;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 300px;
	height: 300px;
}

.projectrow:hover {
	transform: scale(1.3);
}

.projectsbox p{
	font-size: 20px;
	font-weight: bold;
}

.projectrow {
	width: 50%;
	height: 100%;
	text-align: center;
}

.projectspage h2{
	text-align: left;
	margin-left: 3%;
	font-size: 50px;
	margin-bottom: 8%;
}

.projectspage h3{
	text-align: center;
	margin-left: 3%;
	font-size: 30px;
	margin-bottom: 8%;
}

.projectelement a {
	display: block;
	width: 100%;
	height: 100%;
}

.projectspage form{
	display: flex;
	flex-flow: column;
}

.contactinfo img {
	height: 50px;
	margin-top: 50px;
}

.contactinfo a:nth-child(3) {
	position: relative;
	left: 350px;
}

.contactinfo a:nth-child(4) {
	position: relative;
	left: 500px;
}

.flexbox {
	display: flex;
	flex-direction: row;
}

.flexbox p {
		font-size: 25px;
		margin-bottom: 3px;
		margin-top:  3px;
}

.flexbox p:nth-child(2) {
	position: absolute;
	left: 600px;
}

.flexbox:nth-child(1) p:nth-child(1), .flexbox:nth-child(1) p:nth-child(2) {
	color: red;
	font-weight: bold;
}

.projectspage form{
	position: absolute;
	width: 40%;
	left: 20%;
	margin-top: 100px;
}

form input {
	height: 45px;
	margin-bottom: 15px;
	font-size: 22px;
}

form textarea {
	height: 150px;
	margin-bottom: 15px;
	font-size: 22px;
}

form label {
	font-size: 20px;
}

input[value="Send"] {
	width: 15%;
	margin: auto;
}